/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: Inter, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  gap: 0.7rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.logo {
  width: 2.5rem;
}

.brand-name {
  font-size: 32px;
}

main {
  padding: 10px 30px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}

.add-ingredient-form > input {
  border-radius: 5px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #fafaf8;
}
